body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}

.header-logo .part-of-link,
.footer-logo .part-of-link {
    color: #4D5AE5;
}

.link,
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;

}

.link:hover,
.link:focus {
    color: #404BBF;
}

.active:active {
    color: #404BBF;

}

.address a {
    color: #434455;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.address a:hover,
.address a:focus {
    color: #404BBF;
}

.main-section {
    background-color: #2E2F42;
}

.main-section h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
}

.subtitle h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle h3,
.subtitle-team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle p::first-letter {
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle-team p {
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


.subtitle-team {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}

.footer {
    color: #FFFFFF;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer p::first-letter {
    color: #FFFFFF;
    text-transform: uppercase;
}